MarksManagementClient/MarksManagementClient/Connected Services/ServiceReference1/MarksManageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MarksManagementLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MarksManagementLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetails" nillable="true" type="tns:UserDetails" />
  <xs:complexType name="MarksRecords">
    <xs:sequence>
      <xs:element minOccurs="0" name="Semester" type="xs:int" />
      <xs:element minOccurs="0" name="Subject1" type="xs:int" />
      <xs:element minOccurs="0" name="Subject2" type="xs:int" />
      <xs:element minOccurs="0" name="Subject3" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarksRecords" nillable="true" type="tns:MarksRecords" />
  <xs:complexType name="ArrayOfMarksRecords">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarksRecords" nillable="true" type="tns:MarksRecords" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarksRecords" nillable="true" type="tns:ArrayOfMarksRecords" />
</xs:schema>